:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }
  a {
    color: #8ab4f8;
  }
}

.tarea-formulario {
  max-width: 500px;
  width: 100%;
}

.tarea-formulario button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label-form {
  font-weight: bold;
  width: 120px; /* o lo que se necesite */
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  flex: 1;
  max-width: 300px;
}

.custom-nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.custom-nav-link:hover {
  color: #facc15;
  font-weight: 700;
}

/* Badges de estado */
.badge {
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
  border-radius: 0.4rem;
  text-transform: capitalize;
}

.badge-pendiente {
  background-color: #ffc107;
  color: #212529;
}

.badge-en-progreso {
  background-color: #17a2b8;
}

.badge-completado {
  background-color: #28a745;
}

/* Ajustes generales */
.table-dark th {
  background-color: #343a40;
  color: #f8f9fa;
}
